

#navbarContent{
    display:flex;
    justify-content: flex-end;
}
.bg-light{
    box-shadow: inset 0px -5px 10px lightgrey;
}

.jumbotron{
    background-image: url("bear-1824882_1920.jpg");
    background-size: cover;
    color: white;
    height:300px;
   border-radius:0 !important;
   
}