

#navbarContent{
    display:flex;
    justify-content: flex-end;
}
.light{
    box-shadow: inset 0px -5px 10px lightgrey;
}

.jumbotron{
    background-image: url("bear-1824882_1920.jpg");
    background-size: cover;
    color: white;
    height:300px;
   border-radius:0 !important;
   
}


.card{
    transition: transform 150ms ease-in;
}
.card a {
    text-decoration: none;
}
.card:hover{
transform: scale(1.02);
}
.img-card-top{
    height:45vh;
    object-fit:cover;
}