

#navbarContent{
    display:flex;
    justify-content: flex-end;
}
.light{
    box-shadow: inset 0px -5px 10px lightgrey;
}

.jumbotron{
    background-image: url("bear-1824882_1920.jpg");
    background-size: cover;
    color: white;
    height:300px;
   border-radius:0 !important;
   
}


.transition{
    transition: transform 150ms ease-in;
}
.card a {
    text-decoration: none;
}
.transition:hover{
transform: scale(1.02);
}
.img-card-top{
    height:45vh;
    object-fit:cover;
}
.card-img{
    height:57vh;
    object-fit:cover;
}


.list-group-item{
    transition: transform 150ms ease-in;
    
    
}

.list-group-item:hover{
    transform: scale(1.2);
    
}
.color1{
    background-color: #987654;
}


